@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Jua:400');

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-size: 20px;
    line-height: 25px;
    color: #333;
}

img{
    vertical-align: top;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    /* 검색창 x표시 삭제 */
	display:none;
}

.header {
	background-color: white;
	height: 140px;
	border-bottom: 1px solid #999;
	box-shadow: 0 3px 3px -3px #999;
	position: sticky;
	top: 0px;
	z-index: 99;
}

.header .headerIn {
	background-color: #fff;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*#region hTop 매뉴와 관리*/
.hTop {
	display: flex;
	margin-bottom: 20px;
}

.divLogo {
	font-family: 'jua', serif;
	margin-top: 20px;
	width: 150px;
	margin-right: 20px;
}

.divLogo a {
	color: #FF7E36;
	font-size: 28px;
	font-weight: 600;
	height: 40px;
	display: flex;
}

.divLogo img {
	width: 40px;
}

.divLogo p {
	align-self: center;
	margin-top: 5px;
	line-height: 40px;
}

.gnb {
	margin-top: 27px;
}

.gnb ul {
	display: flex;
	width: 200px;
	justify-content: space-between;
	font-weight: 600;
}

.gnb li a {
	font-size: 20px;
}

.gnb a:hover {
	color: #777;
}

.gnb a:active {
	color: #FF7E36;
}

.member {
	width: 850px;
}

.member ul {
	display: flex;
	justify-content: space-between;
	float: right;
}

.member li {
	margin-left: 10px;
}

.member li a {
	font-size: 13px;
}

/*#endregion hTop*/

/*#region hBottom 정보검색과 위치정보*/
.hBottom {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: flex;
}

.d {
	width: 30%;
}

.searchLocal {
	width: 40%;
}

.searchLocal .search {
	width: 100%;
	height: 28px;
	justify-items: center;
	background-color: white;
	border: 2px solid #FF7E36;
	margin: auto;
	border-radius: 15px;
	display: flex;
}

.search .txtSearch {
	width: 90%;
	border: 0px;
	margin-left: 15px;
	font-size: 16px;
	background-color: transparent;
}

.search .btnSearch {
	background-color: transparent;
	border: 0px;
	float: right;
	margin-right: 5px;
}

.search i {
	background-color: transparent;
	margin-top: 2px;
	border: 0px;
	font-size: 24px;
}

.divChat {
	width: 5%;
}

.divChat .btnChat {
	background-color: transparent;
	margin-left: 50%;
	border: 0px;
}

.divChat i {
	background-color: transparent;
	margin-top: 2px;
	border: 0px;
	font-size: 24px;
}

.divSetLocal {
	width: 30%;
}

.divSetLocal select {
	width: 150px;
	height: 30px;
	border: 1px solid #FF7E36;
	border-radius: 15px;
	color: #333;
	margin-right: 10px;
}

.wrap {
	width: 100%;
	min-width: 1240px;
}

.popularSearch {
	text-align: center;
	width: 1000px;
	margin: 10px auto 20px auto;
	font-size: 15px;
	background-color: #faf9f9;
	border-radius: 20px;
	padding: 10px;
}

.popularSearch p {
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: bold;
	text-decoration: underline;
}

.popularList {
	display: flex;
	justify-content: space-around;
}

.popularList a:hover {
	text-decoration: underline;
}

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet {
	background-color: #777 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
	color: #777;
}

.popularItem {
	margin-bottom: 56px;
	background-color: rgb(250, 250, 252);
	padding: 60px 0;
}

.popularItem h1 {
	font-size: 40px;
	line-height: 48px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 60px;
}

.pItemList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 1100px;
	margin: 0 auto;
}

.pItemList li {
	width: 240px;
	margin-bottom: 40px;
}

.pItemImg {
	width: 200x;
	height: 220px;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 16px;
}

.pItemImg img {
	width: 100%;
	height: 100%;
}

.pItemName {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pItemPrice {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	margin-bottom: 9px;
}

.pItemAddress {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 6px;
}

.pItemCountUp {
	color: rgb(134, 142, 150);
	font-size: 13px;
	line-height: 16px;
}

.seeMore {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

.qrCode {
	width: 1200px;
	height: 200px;
	margin: 0 auto;
}

.footerIn {
	width: 900px;
	margin: 0 auto;
	font-size: 13px;
	color: #666;
	margin-bottom: 100px;
	position: relative;
}

.fLine {
	height: 1.5px;
	background-color: #f3f2f2;
	margin: 0 0 30px 0;
}

.footMenu1 {
	display: flex;
	margin: 50px 0;
	position: relative;
}

.footMenu1 ul {
	margin-right: 30px;
	font-size: 15px;
}

.footMenu1 li {
	margin-bottom: 30px;
}

.footMenu1 a:hover {
	text-decoration: underline;
}

.appDownload {
	position: absolute;
	right: 0px;
	top: 0;
	color: #222;
	font-size: 16px;
}

.appDownload p {
	font-weight: bold;
	margin-bottom: 10px;
}

.appDownload button {
	border: none;
	width: 160px;
	height: 50px;
	border-radius: 10px;
	line-height: 20px;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	margin-right: 10px;
}

.appDownload .apple {
	margin-right: 8px;
}

.appDownload img {
	width: 20px;
}

.fMenu2 ul {
	display: flex;
	margin-top: 20px;
	width: 700px;
}

.fMenu2 li {
	margin-right: 20px;
}

.fMenu2 a {
	color: #666;
	font-size: 13px;
}

.fMenu2 a:hover {
	text-decoration: underline;
}

.snsNation {
	/* background-color: lavender; */
	display: flex;
	width: 250px;
	position: absolute;
	top: 330px;
	right: 10px;
	vertical-align: bottom;
}

.snsNation img {
	width: 30px;
	vertical-align: middle;
}

.nation img {
	width: 27px;
	height: 20px;
	margin-top: 8px;
}

.nation label {
	/* background-color: violet; */
	display: flex;
	margin-top: 15px;
}

#label-select-nation {
	margin-top: 10px;
	border: none;
	margin-bottom: 10px;
}