@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Jua:400');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #333;
}

ul, ol {
	list-style: none;
}

img {
	/* 인라인블럭요소인 img 태그를 위쪽을 기준으로 정렬하도록 설정 */
	vertical-align: top;
}

a {
	text-decoration: none;
}

.wrap {
	width: 100%;
	min-width: 1240px;
}

.header {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.headerIn {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.logoImg {
	width: 56px;
	height: 56px;
	padding-top: 7px;
	margin-left: 4px;
}

.logoImg img {
	width: 100%;
}

.title {
	font-family: 'jua', serif;
	color: #FF7E36;
	font-size: 56px;
	line-height: 1.5;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 540x;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tdImg {
	position: relative;
}

.profileImg {
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	border-radius: 50%;
	overflow: hidden;
}

.profileImg img {
	width: 100%;
	object-fit: cover;
}

.uploadImgBtn {
	width: 156px;
	height: 36px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #FF7E36;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 16px;
	line-height: 35px;
	margin-left: 172px;
}

#imgUpload {
	display: none;
}

.tdText {
	width: 140px;
	height: 80px;
	text-align: left;
	font-size: 20px;
	line-height: 1.5;
}

.tdText label {
	width: 120px;
}

.inputInfo {
	width: 300px;
	height: 56px;
	font-size: 20px;
	line-height: 1.5;
	/* background-color: antiquewhite; */
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #eee;
	padding-left: 12px;
}

.inputInfo:focus {
	outline: 1px solid #FF7E36;
	border-radius: 4px;
}

.joinBtn {
	width: 500px;
	height: 52px;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	color: #FF7E36;
	border: 1px solid #FF7E36;
	background-color: #fff;
	cursor: pointer;
	margin-top: 36px;
	margin-bottom: 100px;
}

.warning {
	text-align: left;
	color: red;
	font-size: 11px;
	line-height: 1.5;
	margin-left: 16px;
}

.emailOverlap {
	width: 140px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	color: #FF7E36;
	border: 1px solid #FF7E36;
	background-color: #fff;
	margin-right: -310px;
}

#msg {
	color: red;
}