<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- NULL값 셋팅 -->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<!-- 별칭 -->
	<typeAliases>
		<typeAlias alias="BoardDTO" type="com.carrot.board.domain.BoardDTO" />
      	<typeAlias alias="ProductDTO" type="com.carrot.board.domain.ProductDTO"/>
    	<typeAlias alias="SearchConditionP" type="com.carrot.board.domain.SearchConditionP" />
    	<typeAlias alias="SearchConditionM" type="com.carrot.board.domain.SearchConditionM" />
		<typeAlias alias="SearchCondition" type="com.carrot.board.domain.SearchCondition" />
		<typeAlias alias="UserDTO" type="com.carrot.user.domain.UserDTO" />
		<typeAlias alias="CommentspDTO" type="com.carrot.board.domain.CommentspDTO" />
	</typeAliases>
</configuration>