@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-size: 20px;
    line-height: 25px;
    color: #333;
}

img{
    vertical-align: top;
}

.footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
   /*  font-size: 13px;
    color: #666;
    margin-bottom: 100px; */
}

.footerIn{
    width: 900px;
    margin: 0 auto;
    font-size: 13px;
    color: #666;
    margin-bottom: 100px;
    position: relative;
}
.fLine{
    height: 1.5px;
    background-color: #f3f2f2;
    margin: 0 0 30px 0;
}

.footMenu1{
    display: flex;
    margin: 50px 0;
    position: relative;
}
.footMenu1 ul{
    margin-right: 30px;
    font-size: 15px;
}
.footMenu1 li{
    margin-bottom: 30px;
}

.footMenu1 a:hover{
    text-decoration: underline;
}

.appDownload{
    position: absolute;
    right: 0px;
    top: 0;
    color: #222;
    font-size: 16px;
}
.appDownload p{
    font-weight: bold;
    margin-bottom: 10px;
}
.appDownload button{
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    margin-right: 10px;
}
.appDownload .apple{
    margin-right: 8px;
}

.appDownload img{
    width: 20px;

}

.fMenu2 ul{
    display: flex;
    margin-top: 20px;
    width: 700px;
}

.fMenu2 li{
    margin-right: 20px;
}

.fMenu2 a{
    color: #666;
    font-size: 13px;
}

.fMenu2 a:hover{
    text-decoration: underline;
}

.snsNation{
    /* background-color: lavender; */
    display: flex;
    width: 250px;
    position: absolute;
    top: 330px;
    right: 10px;
    vertical-align: bottom;
}

.snsNation img{
    width: 30px;
    vertical-align : middle;
}
.nation img{
    width: 27px;
    height: 20px;
    margin-top: 8px;
}
.nation label{
    /* background-color: violet; */
    display: flex;
    margin-top: 15px;
}

#label-select-nation{
    margin-top: 10px;
    border: none;
    margin-bottom: 10px;
}