<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carrot.board.dao.CommentsbMapper">
	<!-- 게시글 댓글 전체 삭제 -->
	<delete id="deleteAll" parameterType="int">
		DELETE FROM COMMENTS_B
		WHERE CB_PNUM = #{cb_pnum}
	</delete>
	
	<!-- 게시글 댓글 개수 확인 -->
	<select id="count" parameterType="int" resultType="int">
		SELECT count(*)
		FROM COMMENTS_B
		WHERE CB_PNUM = #{cb_pnum}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="map">
		DELETE FROM COMMENTS_B
		WHERE CB_NUM = #{cb_num} AND CB_EMAIL = #{cb_email}
	</delete>
	
	<!-- 댓글 추가 -->
	<insert id="insert" parameterType="CommentsbDTO">
		INSERT INTO comments_p(CB_PNUM, CB_NUM, CB_PCNUM, CB_EMAIL, CB_CONTENT, CB_CRDATE, CB_UPDATE, CB_NICKNM)
		VALUES (#{cb_pnum}, seq_commentsb_num.nextval, #{cb_pcnum}, #{cb_email}, #{cb_content}, SYSDATE, SYSDATE, #{cb_nicknm})
	</insert>
	
	<!-- 게시글의 댓글 모두 검색 -->
	<select id="selectAll" parameterType="int" resultType="CommentsbDTO">
		SELECT CB_PNUM, CB_NUM, CB_PCNUM, CB_EMAIL, CB_CONTENT, CB_CRDATE, CB_UPDATE, CB_NICKNM
		FROM COMMENTS_B
		WHERE CB_PNUM = #{cb_pnum}
		ORDER BY CB_PCNUM ASC, CB_NUM ASC
	</select>
	
	<!-- 댓글 번호에 따른 댓글 내용 확인하기 -->
	<select id="select" parameterType="int" resultType="CommentsbDTO">
		SELECT CB_PNUM, CB_NUM, CB_PCNUM, CB_EMAIL, CB_CONTENT, CB_CRDATE, CB_UPDATE, CB_NICKNM
		FROM COMMENTS_B
		WHERE CB_NUM = #{cb_num}
	</select>
	
	<!-- 댓글 변경하기 -->
	<update id="update" parameterType="CommentsbDTO">
		UPDATE COMMENTS_B
		SET CB_CONTENT = #{cb_content}, CB_UPDATE = SYSDATE
		WHERE CB_NUM = #{cb_num} AND CB_EMAIL = #{cb_email}
	</update>
</mapper>