<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carrot.board.dao.CommentspMapper">
	<!-- 게시글 댓글 전체 삭제 -->
	<delete id="deleteAll" parameterType="int">
		DELETE FROM COMMENTS_P
		WHERE CP_PNUM = #{cp_pnum}
	</delete>
	
	<!-- 게시글 댓글 개수 확인 -->
	<select id="count" parameterType="int" resultType="int">
		SELECT count(*)
		FROM COMMENTS_P
		WHERE CP_PNUM = #{cp_pnum}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="map">
		DELETE FROM COMMENTS_P
		WHERE CP_NUM = #{cp_num} AND CP_EMAIL = #{cp_email}
	</delete>
	
	<!-- 댓글 추가 -->
	<insert id="insert" parameterType="CommentspDTO">
		INSERT INTO comments_p(CP_PNUM, CP_NUM, CP_PCNUM, CP_EMAIL, CP_CONTENT, CP_CRDATE, CP_UPDATE, CP_NICKNM)
		VALUES (#{cp_pnum}, seq_commentsp_num.nextval, #{cp_pcnum}, #{cp_email}, #{cp_content}, SYSDATE, SYSDATE, #{cp_nicknm})
	</insert>
	
	<!-- 게시글의 댓글 모두 검색 -->
	<select id="selectAll" parameterType="int" resultType="CommentspDTO">
		SELECT CP_PNUM, CP_NUM, CP_PCNUM, CP_EMAIL, CP_CONTENT, CP_CRDATE, CP_UPDATE, CP_NICKNM
		FROM COMMENTS_P
		WHERE CP_PNUM = #{cp_pnum}
		ORDER BY CP_PCNUM ASC, CP_NUM ASC
	</select>
	
	<!-- 댓글 번호에 따른 댓글 내용 확인하기 -->
	<select id="select" parameterType="int" resultType="CommentspDTO">
		SELECT CP_PNUM, CP_NUM, CP_PCNUM, CP_EMAIL, CP_CONTENT, CP_CRDATE, CP_UPDATE, CP_NICKNM
		FROM COMMENTS_P
		WHERE CP_NUM = #{cp_num}
	</select>
	
	<!-- 댓글 변경하기 -->
	<update id="update" parameterType="CommentspDTO">
		UPDATE COMMENTS_P
		SET CP_CONTENT = #{cp_content}, CP_UPDATE = SYSDATE
		WHERE CP_NUM = #{cp_num} AND CP_EMAIL = #{cp_email}
	</update>
</mapper>