<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 전체 경로 -->
<mapper namespace="com.carrot.board.dao.LikeyMapper">
	<insert id="insertLike" parameterType="LikeyDTO">
		INSERT INTO LIKEY (L_MENU, L_PBNUM, L_EMAIL)
		VALUES (#{l_menu}, #{l_pbnum}, #{l_email})
	</insert>
	
	<delete id="deleteLike" parameterType="LikeyDTO">
		DELETE LIKEY
		 WHERE L_MENU = #{l_menu}
		   AND L_PBNUM = #{l_pbnum}
		   AND L_EMAIL = #{l_email}
	</delete>
</mapper>